body {
  background: linear-gradient(180deg, #234072 0%, #000000 94.27%);
  background-blend-mode: multiply;
}

p {
  font-family: 'Inter';
  text-align: justify;
  text-align-last: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar li a {
  float: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  color: #884A39;
}

ul.navbar li a#logo {
  float: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  display: block;
  color: #111;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  font-family: 'Inter';
  text-align: left;
  padding: 20px;
  font-size: 15px;
}

.logo img {
  max-width: 150px;
}

footer {
    font-family: 'Inter';
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 12px;
  }

#about {
  font-family: 'Inter';
  text-align: center;
  width: 300px;
  padding: 15px;
  margin: 0 auto;
  background: #D9D9D9;
  border-radius: 50px;
}

.aboutus {
  font-family: 'Inter';
  text-align: justify;
  text-align-last: center;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px;
  background: #F5F5F5;
  padding: 10px;
  text-align: center;
  font-family: 'Inter';
  font-size: 15px;
  margin: 0 10px; 
}

.box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.box a {
  text-decoration: none; 
  color: #000;
  display: block; 
}

.box a:hover {
  background-color: #eee; 
}

#title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}


h1 {
  margin-top: 0;
}

#weatherInfo1 {
  margin-top: 20px;
  /* text-align: left; */
}

#temperature,
#city,
#weatherDescription,
#feelsLike,
#humidity,
#rainChance {
  margin-bottom: 10px;
}
progress{
  border-radius: 25%;
}

.container {
  margin-left: 50px;
  width: 379px;
  height: 288px;
  background-color: #1A2840;
  border-radius: 10px 10px 10px 10px;
}

.dasbord {
  color: white;
  display: flex;
  justify-content: space-between; 
  margin:20px;
}

.terasaseperti,
.kelembaban,
.peluanghujan
{
  width: 100px;
  height: 60px;
  background-color: #3B6083;
  border-radius: 5px 5px 5px 5px;
}

