@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: var(--main-bg-dark);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.greeting {
    text-align: center;
    max-width: 50%;
    line-height: 1.6em;
    margin-bottom: 24px;
}

#about {
    color: #FFFFFF;
    font-family: 'Inter';
    text-align: center;
    width: 300px;
    padding: 15px;
    background: #1A2840;
    border-radius: 50px;
    display: block;
    margin-bottom: 24px;
  }
  
  .aboutus {
    font-family: 'Inter';
    text-align: justify;
    text-align-last: center;
  }
  
  .containerAbout {
    display: flex;
    justify-content: center;
    max-width: 70vw;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    border: 1px;
    background: #1A2840;
    padding: 8px;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    margin: 12px 12px; 
    border-radius: var(--rounded-small);
    width: calc(100% / 8);
    z-index: 0;
  }
  
  .box img {
    width: 90%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: var(--rounded-small);
  }
  
  .box a {
    text-decoration: none; 
    color: #FFFFFF;
    display: block;
    width: fit-content;
  }
  
  .box a > h3 {
    font-size: 12px !important;
    display: inline-block;
    margin: 5px auto;
    position: relative;
    z-index: 1;
    border-radius: var(--rounded-small);
    padding: 4px 8px;
    background-color: var(--widget-secondary-dark);
  }

  .box:hover {
    box-shadow: 0px 0px 24px -3px rgba(92, 96, 112, 0.8);
  }