@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: var(--main-bg-dark);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#reject-text {
    text-align: center;
}

.container {
    display: grid;
    padding: 0 2.4vw;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2em; 
    grid-template-areas: 
    "Weather Weather Air-Quality Air-Quality UVI UVI"
    "Perkiraan-Cuaca Perkiraan-Cuaca Perkiraan-Cuaca Perkiraan-Cuaca Rekomendasi-Kegiatan Rekomendasi-Kegiatan"; 
}

.widget__container--big {
    background-color: var(--widget-bg-dark);
    padding: 24px;
    border-radius: var(--rounded-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather__container {
    grid-area: Weather;
}

.weather__header {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr .5fr;
    margin-bottom: 24px;
}

.weather__heading {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 12px;
}

.weather__heading img {
    width: 42px;
    padding: 4px;
    aspect-ratio: 1;
    background-color: var(--white);
    border-radius: 50%;
}

#weather-icon, .aq__illustration {
    justify-self: end;
    grid-row: span 2;
}

#weather-icon img, .aq__illustration {
    width: 136px !important;
    object-fit: cover;
}

.weather__temp {
    /* line-height: 2.3em; */
    padding-top: 2.3em;
    align-self: end;
}

#temperature {
    font-size: 36px !important;
}

#weather-description {
    font-weight: 700;
    font-size: 16px !important;
    text-transform: capitalize;
}

.weather__infos, .aqi__progress {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
    padding: 16px 0px; 
    flex: 1 1;
}

.widget__container--small {
    background-color: var(--widget-secondary-dark);
    padding: 8px;
    border-radius: var(--rounded-small);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
}

.widget__container--small > h3 {
    margin: 0 !important;
}

.small-widget__label {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.2em;
}

.aq__container {
    grid-area: Air-Quality;
}

#aq-size {
    font-size: 42px !important;
    margin: 0;
}

#keterangan {
    font-weight: 700;
    font-size: 16px !important;
    text-transform: capitalize;
}

.aqi__number {
    display: flex;
    align-items: end;
    gap: 8px;
}

.aqi__unit {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: .4em;
}

.progress__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 1.2em;
}

progress::-moz-progress-bar { background: var(--widget-bg-dark); }
progress {
    width: 100%;
    border-radius: 50%;
    color: var(--widget-bg-dark) !important;
    background-color: var(--white) !important;
}

.progress__bar {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 8px;
    width: 100%;
}

.progress-bar__container {
    width: 100%;
    height: 10px;
    border-radius: 50vw;
    background-color: var(--white);
    position: relative;
}

#aqi-level {
    position: absolute;
    height: 100%;
    border-radius: 50vw;
    background-color: var(--widget-bg-dark);
    width: 0%;
    transition: width .5s ease-in-out;
}

#aqi-level::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    width: 12px;
    aspect-ratio: 1;
    background-color: var(--widget-bg-dark);
    border-radius: 50vw;
    transform: translate(30%, -50%);
}

.iuv__container {
    grid-area: UVI;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--widget-bg-dark);
    border-radius: var(--rounded-medium);
    padding: 24px;
}

.iuv__container > img {
    max-width: 72px;
    aspect-ratio: 1;
}

.iuv__card-list {
    display: flex;
    justify-content: space-between;
    background-color: var(--widget-secondary-dark);
    width: 100%;
    border-radius: var(--rounded-medium);
    gap: 16px;
    padding: 8px 16px;
}

.iuv__card-list > img {
    height: 100%;
    aspect-ratio: 1;
}

.iuv__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
}

.forecast__container {
    grid-area: Perkiraan-Cuaca;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.forecast__today, .forecast__next-week {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    width: 100%;
}

.today__container, .week__container {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    gap: 12px;
    scrollbar-width: thin;
    margin-bottom: 4px;
}

.today__container:hover, .week__container:hover {
    overflow-x: auto;
    margin-bottom: 0px;
}

.today__container::-webkit-scrollbar, .week__container::-webkit-scrollbar {
    height: 4px;
}

.today__container::-webkit-scrollbar-track, .week__container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.today__container::-webkit-scrollbar-thumb, .week__container::-webkit-scrollbar-thumb {
    background: #181929;
    border-radius: 50vw;
}

.forecast-today__item, .forecast-week__item {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--widget-bg-dark);
    border-radius: var(--rounded-small);
    padding: 12px;
}

.forecast-week__item {
    padding: 8px !important;
}

.forecast-today__item > img, .forecast-week__item > img {
    min-width: 75px;
    aspect-ratio: 1;
}

.temp__label {
    font-weight: 700;
    font-size: 14px;
}

.empty__container {
    grid-area: Empty;
    background-color: var(--widget-bg-dark);
    border-radius: var(--rounded-medium);
}

.task__container {
    grid-area: Rekomendasi-Kegiatan;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    min-height: 0;
    flex-basis: content;
    align-items: start;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.task__container > h3 {
    margin-bottom: 24px;
}
.tasks__list {
    gap: 8px;
    width: 100%;
    max-height: calc(100% - 24px - 20px);
    overflow-y: auto;
    position: absolute;
    top: calc(24px + 20px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task__item {
    padding: 24px 32px;
    border-radius: var(--rounded-small);
    width: 100%;
    background-color: var(--widget-bg-dark);
}

.hide{
    display: none;
}
/* #reject {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
}

#reject::before {
    content: "";
    flex-grow: 1;
  }
  
  #reject::after {
    content: "";
    flex-grow: 1;
  } */