@import url('variables.css');

nav {
  width: 100%;
  padding: 2.4vh 2.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
  /* background-color: #0E2954; */
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.navbar-menu {
  display: flex;
  gap: 2.4rem;
}

.nav__menu {
  position: relative;
  font-weight: 400;
}

.active {
  font-weight: 700 !important;
}

.nav__menu::after {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 50vw;
  bottom: -3px;
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: width .25s ease-in-out;
}

.nav__menu:hover::after {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 50vw;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: var(--white);
  transition: width .25s ease-in-out;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  border-radius: 50vw;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: var(--white);
}

.text {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar li a {
  float: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  color: #0E2954;
}

footer {
    font-family: 'Inter';
    padding: 20px;
    text-align: center;
    font-size: 12px;
  }

#title {
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

#weatherInfo1 {
  margin-top: 20px;
  text-align: left;
} 

#temperature,
#city,
#weatherDescription,
#feelsLike,
#humidity,
#rainChance {
  margin-bottom: 10px;
}

.dasbord {
  color: white;
  display: flex;
  justify-content: space-between; 
  margin:20px;
}

.terasaseperti,
.kelembaban,
.peluanghujan
{
  width: 100px;
  height: 60px;
  background-color: #3B6083;
  border-radius: 5px 5px 5px 5px;
}

